
body {
	font-family: "繝｡繧､繝ｪ繧ｪ", Meiryo, "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro", "・ｭ・ｳ ・ｰ繧ｴ繧ｷ繝・け", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5;

	background-color: #f3f2e9;
	color: #5f5039;
	margin-left: auto;
	margin-right: auto;
	width: 840px;


}

#bc{
	background-image: url(photos/bangy.jpg);
	width: 800px;
	height: 800px;
}


header h1 {
	margin: 0 0 10px 119px;
	padding-top: 10px;
	text-align: center;
	font-size: 300%;
	border-bottom: 1px dotted #000;

	
}


header, footer {
	width: 840px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: rgba(255,255,255,0.2);
	background-image: url(photos/face2line.jpg);
	background-repeat: no-repeat;

	width: 119px;
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	clear: left;
	position: fixed;
	top:10px , left:10px;

	font-size: 120%;

}


nav ul{
	list-style-type: none;
	margin: 100px 0 20px 0;
	padding-left: 0;
	width: 119px;
	

}

nav ul li{
	width: 119px;
	margin: 0 0 80px 0 ;
	text-align: right;
	
}

.contents {
	float: left;
	margin: 50px 0 10px 150px;
	width: 600px;
	height: 500px;

}

.contents h1{
	margin: 10px 0 0 0;
}

.contents h2{
	margin: 10px 0 0 0;
	padding-left: 20px;
}

.contents h3{
	margin: 0;
	padding-left: 25px;
}

.contents ul {
	margin: 0 0 0 0 ;
}

footer{
	float: left;
	margin: 50px 0 10px 150px;
	width: 600px;
	height: 50px;
	text-align: center;
	clear: left;
}